.city-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .city-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #636262;
    padding: 10px;
    border-radius: 4px;
  }
  
  .city-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    align-items: center;
  }
  
  .city-details {
    margin-top: 30px;
    text-align: center;
    -webkit-text-fill-color: rgb(237, 248, 248);
  }

  
  body {
    position: relative;
  }
  
  body::before {
    content: "";
    background: url(https://wallpapercave.com/wp/wp2359194.jpg) no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: -1;
  }
  