  
  /*
  .city-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .city-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(63, 58, 58);
    padding: 10px;
    border-radius: 4px;
  } 
  
  .city-image {
    max-width: 70%;
    height: auto;
    border-radius: 4px;
    align-items: center;
    opacity: 1;
  }
 
  .city-details {
    margin-top: 30px;
    text-align: center;
    color: rgb(237, 248, 248); 
  }
  */

  #season-dropdown {
    width: 200px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
  }
  
  #season-dropdown option {
    font-weight: bold;
  }
  
  #season-dropdown option:first-child {
    color: #999;
  }
  
